$headerBorderColor: #e2e2e2;

header {
  .logo {
    max-width: 260px;
    margin: auto;
    padding: 30px 0px;
  }
  box-shadow: 0 5px 5px 0 rgb(0 0 0 / 20%);
  border-top: 1px solid $headerBorderColor;
}
main {
  .container {
    max-width: 1200px;
    margin: auto;
  }
}
footer {
  text-align: center;
  border-top: 1px solid $headerBorderColor;
  padding: 20px 0px;
}
